body{
	background-color: black;
}

a{
color: rgb(255, 255, 255); 
text-decoration: none;
}
a:hover{
    color: #CC3345
}
.headline {
    position: absolute;
    top: 5vh;
    left: 1.2vw;
    font-family: helvetica neue;
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

.bodytext{
    position: absolute;
    top: 11vh;
    left: 1.3vw;
    font-family: helvetica neue;
    font-size: 3vw;
    font-weight: bold;
    color: white;
}

.free{
	position: absolute;
	top: 10vh;
	left: 85vw;
	font-family: helvetica neue;
    font-size: .7vw;
    font-weight:;
    font-style: italic;
    color: grey;

}


.bg {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-image: url("cdg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.place{
	position: absolute;
	top: 22vh;
	left: 2vw;
	font-family: helvetica neue;
    font-size: 1vw;
    font-weight: bold;
    color: white;

}
.time{
	position: absolute;
	top: 25vh;
	left: 2vw;
	font-family: helvetica neue;
    font-size: 1vw;
    font-weight: bold;
    color: white;

}

/*.block{
	position: absolute;
	top: 87vh;
	left: 0px;
	background-color:  darkred;
	width: 1450px;
	height: 100px;
	opacity: .4;
}
*/


/* COMME DES GARÇON */

.c{
	position: absolute;
	top: 23vh;
	left: 20vw;
	font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    cursor: default;
}
.c:hover{
    opacity: 0;
}
.o{
	position: absolute;
	top: 31vh;
	left: 24vw;
	font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    cursor: default;
}
.o:hover{
    opacity: 0;
}
.m{
	position: absolute;
	top: 23vh;
	left: 29vw;
	font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    cursor: default;
}
.m:hover{
    opacity: 0;
}
.m2{
	position: absolute;
	top: 25vh;
	left: 35.3vw;
	font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    cursor: default;
}
.m2:hover{
    opacity: 0;
}
.e{
	position: absolute;
	top: 40vh;
	left: 40vw;
	font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    transform: rotate(23deg);
    cursor: default;
}
.e:hover{
    opacity: 0;
}
.d{
    position: absolute;
    top: 20vh;
    left: 45vw;
    font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    transform: rotate(-20deg);
    cursor: default;
}
.d:hover{
    opacity: 0;
}
.e2{
    position: absolute;
    top: 14vh;
    left: 51.2vw;
    font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    transform: rotate(195deg);
    cursor: default;
}
.e2:hover{
    opacity: 0;
}
.s{
    position: absolute;
    top: 22vh;
    left: 56vw;
    font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    transform: rotate(30deg);
    cursor: default;
}
.s:hover{
    opacity: 0;
}
.g{
    position: absolute;
    top: 44vh;
    left: 57vw;
    font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    cursor: default;
}
.g:hover{
    opacity: 0;
}
.arçon{
    position: absolute;
    top: 36vh;
    left: 62vw;
    font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    cursor: default;
}

/* TABS TO SCROLL */

.info{
	position: absolute;
	top: 92vh;
	left: 10vw;
	font-family: helvetica neue;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.info:hover{
	color: #CC3345
}

.video{
	position: absolute;
	top: 92vh;
	left: 35vw;
	font-family: helvetica neue;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.video:hover{
	color: #CC3345

}

.tickets{
	position: absolute;
	top: 92vh;
	left: 60vw;
	font-family: helvetica neue;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    pointer-events: inherit;
    cursor: pointer;
}
.tickets:hover{
	color: #CC3345
}

.shop{
	position: absolute;
	top: 92vh;
	left: 85vw;
	font-family: helvetica neue;
    font-size: 1.2vw;
    font-weight: bold;
    color: white;
    cursor: pointer;
}
.shop:hover{
	color: #CC3345
}

/* SCROLLED HALF OF PAGE**********8*/

.bio{
	position: absolute;
    top: 345vh;
    left: 60vw;
    font-family: helvetica neue;
    font-size: 1vw;
    font-weight: 500;
    color: white;
    text-align: left;
    width: 38vw;
}
.overview{
	position: absolute;
    top: 335vh;
    left: 60vw;
    font-family: helvetica neue;
    font-size: 3.7vw;
    font-weight: bold;
    color: white;
    text-align: left;
    width: 38vw;
}
.gallery{
	position: absolute;
    top: 270vh;
    left: 60vw;
    font-family: helvetica neue;
    font-size: 3.7vw;
    font-weight: bold;
    color: white;
    text-align: left;
    width: 70vw;
}
.bio2{
	position: absolute;
    top: 280vh;
    left: 60vw;
    font-family: helvetica neue;
    font-size: 1vw;
    font-weight: 500;
    color: white;
    text-align: left;
    width: 38vw;
}

.vid{
	 position: absolute;
  top: 100vh;
  left: 40vw;
  width: 100vh;
  height: 200vh;

}
.box{
    position: absolute;
    top: 100vh;
  left: 0vw;
       width: 35vw;
    height: 142vh;
    background-color: black;
    opacity: .5;
}

img.cdgred{
	position: absolute;
    top: 280.5vh;
    left: 10vw;
    width: 40vw;
    height: 95vh;

}
img.up{
	position: fixed;
	top: 95vh;
	left: 50vw;
	width: 4vw;
	height: 4vh;
	opacity: .25;
}
p{
    position: absolute;
    top: 103vh;
    left: 40px;
    color: white;
    font-size: 3vw;
    font-family: helvetica neue;
    font-weight: bold;
    text-align: center;
    width: 31vw;
    line-height: 2;
}


@media (max-width: 486px) {
  
  body{
  	background-color: white;
  }
img.up{
	position: fixed;
	top: 95vh;
	left: 44vw;
	width: 9vw;
	height: 6vh;
	opacity: .25;
}


.bio{
    position: absolute;
    top: 242vh;
     left: 15vw;
    font-family: helvetica neue;
    font-size: 2.2vw;
    font-weight: 500;
    color: black;
    text-align: left;
    width: 70vw;
}
.overview{
    position: absolute;
    top: 238vh;
    left: 32vw;
    font-family: helvetica neue;
    font-size: 3.7vw;
    font-weight: bold;
    color: black;
    text-align: left;
    width: 38vw;
}
.gallery{
position: absolute;
    top: 193vh;
    left: 32vw;
    font-family: helvetica neue;
    font-size: 3.7vw;
    font-weight: bold;
    color: black;
    text-align: left;
    width: 70vw;
}
.bio2{
    position: absolute;
    top: 197vh;
    left: 15vw;
    font-family: helvetica neue;
    font-size: 2.2vw;
    font-weight: 500;
    color: black;
    text-align: left;
    width: 70vw;
}







img.cdgred{
    position: absolute;
    top: 127vh;
    left: 7vw;
    width: 88vw;
    height: 64vh;
}

p{
	display: none;
}


.box{
	display: none;
}

.vid{
	display: none;
}
  
  .headline {
    position: absolute;
    top: 75.5vh;
    left: 1.2vw;
    font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
}
  .bg{
    background-image: url("cdg2.jpg");
  }

.bodytext{
    position: absolute;
    top: 79vh;
    left: 1.3vw;
    font-family: helvetica neue;
    font-size: 6vw;
    font-weight: bold;
    color: white;
    }

.place{
    position: absolute;
    top: 2vh;
    left: 2vw;
    font-family: helvetica neue;
    font-size: 3vw;
    font-weight: bold;
    color: white;

}
.time{
    position: absolute;
    top: 4.5vh;
    left: 2vw;
    font-family: helvetica neue;
    font-size: 3vw;
    font-weight: bold;
    color: white;
}
.tickets{
    position: absolute;
    top: 92vh;
    left: 44vw;
    font-family: helvetica neue;
    font-size: 2.5vw;
    font-weight: bold;
    color: #75726B;
    pointer-events: inherit;
    cursor: pointer;
}
.tickets:hover{
    color: #B4B4B2
}
.info{
    position: absolute;
    top: 92vh;
    left: 13vw;
    font-family: helvetica neue;
    font-size: 2.5vw;
    font-weight: bold;
    color: #75726B;
    cursor: pointer;
}
.info:hover{
    color: #B4B4B2;
}
.video{
   display: none;
}
.video:hover{
    color: #B4B4B2

}
.shop{
    position: absolute;
    top: 92vh;
    left: 78vw;
    font-family: helvetica neue;
    font-size: 2.5vw;
    font-weight: bold;
    color: #75726B;
    cursor: pointer;
}
.shop:hover{
    color: #B4B4B2
}
a{
color: #75726B; 
text-decoration: none;
}
a:hover{
    color: #B4B4B2
}
}

