body{
	padding-top: 5px;
	padding-left: 10px;
	padding-right: 10px;
	background-image: url("sbg.jpg");
	background-size: fixed;
	
}

h4{
	color: white;
	font-family: roboto;
	font-style: oblique; 
	font-size: 13px;
	position: relative;
	top: -20px;
	font-weight: normal;

}

h1{
	font-size: 40px;
	font-family: bookmania;
	line-height: 1.1;

}
h2{
	font-family: roboto;
	font-weight: bolder;
	font-style: italic;
}

h1, h2{
	width: 375px;
	color:white;
}
.quote{
	font-size: 35px;
	font-family: anton;
	line-height: 1.3;
	font-kerning: normal;
	color: #9e4d44;
	padding-left: 25px;

}
.b1{
	position: absolute;
	top: 2297px;
    height: 210px;
	width: 5px;
	background-color: #9e4d44;
}

.b2{
	position: absolute;
	top: 3550px;
    height: 75px;
	width: 5px;
	background-color: #9e4d44;
}

.kc3box{ 
	position: absolute;
	top: 1148px;
	height: 120px;
	width: 5px;
	background-color: #9e4d44;
}

.kc4box{ 
	position: absolute;
	top: 823px;
	height: 77px;
	width: 5px;
	background-color: #9e4d44;
}


.box{ 
	position: absolute;
	top: 1382px;
	height: 120px;
	width: 5px;
	background-color: #9e4d44;
}

.kc1{
	height: 210px;
	width: 360px;
}
.kc2{
	height: 480px;
	width: 360px;
}

.kk{
	height: 240px;
	width: 360px;
}

.kc3{
	height: 460px;
	width: 360px;
}
.kc5{
	height: 500px;
	width: 360px;
}

.bb{
	height: 500px;
	width: 360px;

}

p{
	width: 350px;
	color: white;
	font-family: roboto;
	line-height: 1.6;
}
a{
	font-family: bookmania;
	font-size: 50px;
	line-height: 1.3;
	color: white;
	cursor: auto;
	text-decoration: none;
}

a:hover{
  color: #9e4d44;
}
