h1{
	width: 375px;
}


.kc1 {
	height: 500px;
	width: 900px;
}
.kc2{
	height: 480px;
	width: 375px;
}
.kc3{
	height: 470px;
	width: 375px;
}
.kc5{
	height: 500px;
	width: 375px;
}

p{
	width: 800px;
}