
body{
    padding: 0px;
    margin: 0px;
    background-color: black;
}

.parent {
    flex-basis: 50%;
    max-height: 100vh;
    overflow-y: scroll;
    border: 1px black;
    scroll-snap-type: y mandatory;
    scroll-behavior: auto;
}

img {
    color: rgba(white, .5);
    scroll-snap-align: start;
    justify-content: flex-start;
    width: 375px;
    height: 812px;
    top: 0px;
     z-index: -1;
}

h1{
  position: absolute;
  font-size: 70px;
  top: 40px;
  left: 30px;
  color: white;
    font-family: bookmania;
}

.mainnav{
        position: relative;
        width: 375px;
        height: 900px;
    }

.text{
    position: absolute;
    z-index: 999;
    margin: 0;
    left: 0;
    right: 0;
    top:400px;
    width: 0%;
}