.dropbtn {
  background-color: white;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  font-family: helvetica neue;
  font-weight: bold;
}

.dropdown {
  position: relative;
  display: inline-block;
  opacity: .7;
}
.dropdown:hover{
	opacity: 1;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-family: helvetica neue;
}

.dropdown-content a:hover {background-color: #f1f1f1}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
}




.pic:hover {
  opacity: 0.4;
  cursor: pointer;
}
.Pic1{
	position: absolute;
	left: 0px;	
	top: 0px;	
}
.Pic2{
	position: absolute;
	left: 300px;	
	top: 0px;	
}
.Pic3{
	position: absolute;
	left: 600px;	
	top: 0px;	

}
.Pic4{
	position: absolute;
	left: 800px;	
	top: 0px;	

}
.Pic5{
	position: absolute;
	left: 1200px;	
	top: 0px;	

}
.Pic6{
	position: absolute;
	left: 0px;	
	top: 400px;	
}
.Pic7{
	position: absolute;
	left: 200px;	
	top: 400px;	

}
.Pic8{
	position: absolute;
	left: 600px;	
	top: 400px;	
}
.Pic9{
	position: absolute;
	left: 0px;	
	top: 700px;	

}
.Pic10{
	position: absolute;
	left: 600px;	
	top: 700px;	
}
.Pic11{
	position: absolute;
	left: 800px;	
	top: 600px;	

}
.Pic12{
	position: absolute;
	left: 1050px;	
	top: 600px;	

}
.Pic13{
	position: absolute;
	left: 1200px;	
	top: 400px;	

}
.Pic14{
	position: absolute;
	left: 1350px;	
	top: 400px;	
}
.Pic15{
	position: absolute;
	left: 1270px;	
	top: 600px;	

}


